<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">
{% load static %}
<head>
<title>Medico Appointment Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Doctor Appointment Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="{% static 'medi/css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
<link href="{% static 'medi/css/font-awesome.css' %}" rel="stylesheet">		<!-- font-awesome icons-css-file -->

<link href="{% static 'medi/css/wickedpicker.css' %}" rel="stylesheet" type='text/css' media="all" />

<script type="text/javascript" src="{% static 'medi/js/jquery-2.1.4.min.js' %}"></script>
</head>
<body>
<script>
    {% for msg in messages %}
        alert('{{ msg }}');
    {% endfor %}
</script>

<script>

{% for msg in messages %}

    alert('{{ msg }}');
{% endfor %}

</script>
	<div class="w3-banner-main">
		<div class="center-container">
			<h1 class="header-w3ls">Upload Composition Details</h1>

			<div class="content-top">
				<div class="content-w3ls">
					<div class="form-w3ls">
						<form action="/analyze2/" method="post">
							{% csrf_token %}
							<div class="content-wthree1">
								<div class="grid-agileits1">


								    <div class="form-control">
										<label class="header">Disease <span>*</span></label>
										<select class="form-control" name="Disease" style="width:500px;">
											<option></option>
											<option>Obesity</option>
											<option>hypertensive disease</option>
											<option>Diabetes</option>
											<option>Asthma</option>
											<option>dehydration</option>
											<option>Depression</option>
											<option>failure heart</option>
											<option>ulcer peptic</option>
											<option>Anemia</option>
											<option>pneumonia</option>
										</select>
									</div>

									<div class="form-control">
										<label class="header">symptoms <span>*</span></label>
										<select class="form-control" name="symptoms" style="width:500px;">
											<option></option>
											<option>pain and catatonia and snore and pain chest</option>
											<option>pain chest and shortness of breath</option>
											<option>shortness of breath and pain chest and asthenia</option>
											<option>wheezing and cough</option>
											<option>fever and vomiting</option>
											<option>feeling suicidal and feeling hopeless</option>
											<option>orthopnea and fatigue and dyspnea on exertion</option>
											<option>pain and vomiting and out of breath and pain chest</option>
											<option>guaiac positive and monoclonal</option>
											<option>Ampicillin and Sulbactam</option>
											<option>fever and vomiting</option>
										</select>
									</div>


									<div class="form-control">
										<label class="header">tablet <span>*</span></label>
										<select class="form-control" name="tablet" style="width:500px;">
											<option></option>
											<option>FenofibricAcid</option>
											<option>Acetazolamide</option>
											<option>Acarbose</option>
											<option>Etophylline</option>
											<option>Digoxin</option>
											<option>Lupisetron plus</option>
											<option>Magnesium Hydroxide</option>
											<option>Bacampicillin</option>
											<option>Darbeponetin alfa</option>
										</select>
									</div>



									<div class="form-control">
										<label class="header">composition <span>*</span></label>
										<select class="form-control" name="composition" style="width:500px;">
											<option>Fenacor 200 mg and 10 Capsules</option>
											<option>Synomax Capsule Tablet and 250mg and10</option>
											<option>K-Carb Tablet and 25mg and 10 Tablets</option>
											<option>TAMSULOSIN 0.4MG</option>
											<option>Lupisetron plus and 4/500mg,10 Tablets</option>
											<option>Oxamine (100mg) and100mg and 10</option>
											<option>Digitran - 250 Capsule and Tablet and 0.25mg,10</option>
											<option>Aludrox (840 mg) Tablet and 840mg and 50 Tablets</option>
											<option>Penglobe (400 mg) Tablet and 400mg and 6 Tablets</option>
											<option>Cresp PFS 40mcg and 1 Vial</option>

										</select>
									</div>
									<div class="form-control">
										<label class="header">Price <span>*</span></label>
										<input type="text" id="name" name="price" style="width:500px;" placeholder="price" required="">
									</div>



										<div class="form-control">
										<label class="header">Medicine usage <span>*</span></label>
										<select class="form-control" name="Medicine" style="width:500px;">
											<option></option>
											<option>reduce the cholesterol</option>
											<option>treat heart faliure</option>
											<option>diet and other medications</option>
											<option>asthma and chronic</option>
											<option>Headache and dizziness.</option>
											<option>prescribed for depression</option>
											<option>prescribed for congestive heart faliure</option>
											<option>indigestion</option>
											<option>prescribed for susceptible infections</option>
											<option>prescribed for anemia</option>
										</select>
									</div>



									<div class="form-control">
										<label class="header">side effect <span>*</span></label>
										<select class="form-control" name="side_effect" style="width:500px;">
											<option></option>
											<option>Difficulty in sleeping</option>
											<option>headache</option>
											<option>Allergic skin reaction</option>
											<option>Upset stomach</option>
											<option>Fever and weakness</option>
											<option>dry mouth</option>
											<option>Loss of appetite and vomiting.</option>
											{% comment %} <option>loss of appetite</option> {% endcomment %}
											<option>muscle weakness</option>
											<option>intestinal inflammation</option>
											<option>difficulty in breathing</option>
										</select>
									</div>
									<div class="form-control">
										<label class="header">sevearity <span>*</span></label>
										<select class="form-control" name="sevearity" style="width:500px;">
											<option></option>
											<option>bad</option>
											<option>normal</option>
										</select>
									</div>
									<input type="submit" style="width: 100%;" value="Make an appointment">


								</div>

							</div>
					</div>




				     </form>
					<div class="clear"></div>
				</div>

			</div>

<!--				<p class="copyright">© 2017 Medico Appointment Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>-->
		</div>
	</div>

<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'medi/css/jquery-ui.css' %}" />
				<script src="{% static 'medi/js/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
			<script type="text/javascript" src="{% static 'medi/js/wickedpicker.js' %}"></script>
			<script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
			</script>


</body>
</html>
